:root.dark {
  --main-color: #dfdfd6;
  --date-color: #dfdfd6;
  --raw-bg-color: rgba(101, 117, 133, 0.16);
  --main-bg-color: black;
  --nav-bg-color: #1b1b1f;
  --accent: rgb(158, 169, 252);
  --accent-dark: #5c73e7;
}
