/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");


:root {
  --main-color: black;
  --raw-bg-color: rgba(101, 117, 133, 0.16);
  --main-bg-color: white;
  --nav-bg-color: white;
  --date-color: #dfdfd6;
  --accent: rgb(35, 55, 255);
  --accent-dark: rgb(0, 13, 138);
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow: 0 2px 6px rgba(var(--gray), 25%),
    0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
}

:root.dark {
  --main-color: #dfdfd6;
  --date-color: #dfdfd6;
  --raw-bg-color: rgba(101, 117, 133, 0.16);
  --main-bg-color: black;
  --nav-bg-color: rgb(27, 27, 31);
  --accent: rgb(158, 169, 252);
  --accent-dark: rgb(92, 115, 231);
}

body {
  --vp-font-family-base: "PT Serif", "Noto Serif SC", ui-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --vp-font-family-mono: ui-monospace, "Menlo", "Monaco", "Consolas",
    "Liberation Mono", "Courier New", monospace;

  font-family: var(--vp-font-family-base);
  margin: 0;
  padding: 0;
  text-align: justify;
  background: var(--main-bg-color);
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--main-color);
  font-size: 16px;
  line-height: 1.7;
}
main {
  width: 720px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 3em 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  color: var(--main-color);
  line-height: 1.2;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1.1em;
}
strong,
b {
  font-weight: 700;
}
a {
  color: var(--accent);
}
a {
  transition: color 0.1s ease-in-out;
}
a:hover {
  color: var(--accent-dark);
}
p {
  margin-bottom: 1em;
}
.prose p {
  margin-bottom: 2em;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
pre,
code,
kbd,
samp {
  font-family: var(--vp-font-family-mono);
}
code {
  padding: 2px 5px;
  background-color: var(--raw-bg-color);
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 18px;
  margin: 0px;
  font-size: 1.333em;
}
hr {
  border: none;
  border-top: 1px solid var(--raw-bg-color);
}
@media (max-width: 720px) {
  body {
    font-size: 16px;
  }
  main {
    padding: 1em;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
figcaption {
  text-align: center;
}
.code-image svg {
  max-width: 100%;
}
.inline-equation {
  display: inline-block;
  width: fit-content;
  margin: 0 0.15em;
}
.block-equation {
  display: grid;
  place-items: center;
  overflow-x: auto;
}
.theme-icon svg {
  width: 24px;
  height: 24px;
  path {
    fill: var(--main-color);
  }
}
.dark .theme-icon.light {
  display: block;
}
.dark .theme-icon.dark {
  display: none;
}
.theme-icon.light {
  display: none;
}
.theme-icon.dark {
  display: block;
}
